html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    background: url('../img/background.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.imgblock {
    width: auto;
    position: relative;
    margin-top: 10em;
}

.blue {
    background: #063A85 !important;
}

.red {
    background: #831138 !important;
}

.yellow {
    background: #FCDD09 !important;
}

.seat-input {
    height: 30px;
    font-size: 18px;
    line-height: 1.2;
    display: inline-block;
    width: 320px;
    padding: 0.5em 0.8em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-weight: 400;
    vertical-align: baseline;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 3px;
    background-clip: padding-box;
    transition: border 200ms ease-in-out;
}

.btn {
    height: 50px;
    font-size: 18px;
    line-height: 1.2;
    border-width: 1px;
    border-style: solid;
    border-color: #FEC752;
    color: #333;
    background-color: #FEC752;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    font-family: inherit;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 12px 1em;
    overflow: visible;
    text-align: center;
    font-weight: 700;
    border-radius: 3px;
    -webkit-user-select: none;
}

.title {
    color: white;
    font-family: helvetica;
    font-size: 2.8em;
    color: #FEC752;
    text-align: center;
    font-weight: bold;
}
